[user]
	name = tjeakle-parachute
	email = 109230738+tjeakle-parachute@users.noreply.github.com
[core]
	editor = /usr/bin/nano
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
